<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708077956449-27cueb3t4dphkp3p8gsuqfc653vbgbg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708077956449-27cueb3t4dphkp3p8gsuqfc653vbgbg9</string>
	<key>API_KEY</key>
	<string>AIzaSyAng1bLMh3gMCjmsB8ccbI3YuBDeAQVoUk</string>
	<key>GCM_SENDER_ID</key>
	<string>708077956449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.njuka.app</string>
	<key>PROJECT_ID</key>
	<string>lightcutoff-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>lightcutoff-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708077956449:ios:cf24083083a70353726920</string>
	<key>DATABASE_URL</key>
	<string>https://lightcutoff-dev.firebaseio.com</string>
</dict>
</plist>